:root {
    /* background color site */
    --light-background-color: #FFFFFF;
    --dark-background-color: #2F303A;
    --darklight-background-color: #AFB1B8;
    --medium-background-color: #F5F4FA;
    --lightdark-background-color: #ECECEC;
    --lightmid-background-color: #EEEEEE;
    --accent-background-color: #2196F3;
    --accent-card-bg-color: rgba(33, 150, 243, 0.9);

    /* text color */
    --light-color-text: #FFFFFF;
    --dark-color-text: #000000;
    --medium-dark-color-text: #212121;
    --medium-light-color-text: #757575;
    --accent-color-text: #2196F3;
    --lightdark-color-text: rgba(255, 255, 255, 0.6);

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* basic styles site */
body {
    background-color: var(--light-background-color);
    color: var(--medium-dark-color-text);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
.conteiner {
    width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden; 
}
/* end basic styles site */

/* header site web studio */
/* header site */
.header {
    border-bottom: 1px solid var(--lightdark-background-color);
}
.header-nav {
    display: flex;
    align-items: center;
}

/* logo site */
.logo {
color: var(--accent-color-text);

font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.192;
}
.logo-text {
    color: var(--dark-color-text);
}

/* navigation site */
.navigation {
    margin-left: 93px;
}
.site-nav {
    display: flex;
}
.site-nav .item-nav:not(:last-child) {
    margin-right: 50px;
}
.item-nav .link {
    position: relative;
}
.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--medium-dark-color-text);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;

    transition: color 250ms var(--timing-function);
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color-text);
}
.site-nav .link.current {
    color: var(--accent-color-text);
}
.item-nav .link.current::after {
    content: '';

    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    background-color: var(--accent-background-color);
    border-radius: 2px;
}

/* contacts site */
.contacts {
    display: flex;
    margin-left: auto;
}
.contacts .item:not(:last-child) {
    margin-right: 50px;
}
.contacts .link {
    display: flex;
    align-items: center;

    color: var(--medium-light-color-text);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;

    transition: color 250ms var(--timing-function);
}
.contacts .link:hover, 
.contacts .link:focus {
    color: var(--accent-color-text);
}
.link-icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;

    fill: currentColor;
}
.link-icon-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;

    fill: currentColor;
}
/* end header site web studio */

/* main site web studio */
/* main index */
/* section hero */
.hero {
    height: 600px;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: 
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url('../images/background-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--dark-background-color);
}
.slogan {
    margin-bottom: 30px;
    color: var(--light-color-text);
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.button {
    margin: 0 auto;
    border-radius: 4px;
    padding: 10px 32px;
    border: none;
    min-width: 200px;

    background-color: var(--accent-background-color);
    color: var(--light-color-text);
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/* section specific */
.specific-items {
    display: flex;
}
.specific-items .item:not(:last-child) {
    margin-right: 30px;
}
.specific-icon-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--medium-background-color);
}
.specific-icon {
    width: 70px;
    height: 70px;
}
.subtitle{
    margin-bottom: 10px;

    color: var(--medium-dark-color-text);
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    text-transform: uppercase;
}
.text {
    color: var(--medium-light-color-text);

    font-size: 14px;
    line-height: 1.714;
}

/* section works */
.works {
    padding-top: 0;
}
.title-works, .title-teams, 
.title-specific, .title-clients {
    margin-bottom: 50px;

    color: var(--medium-dark-color-text);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
}
.works-site {
    display: flex;
}
.works-site .item-work:not(:last-child){
    margin-right: 30px;
}
.work-img {
    position: relative;
}
.work-img::before {
    content: '';

    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);;
}
.subtitle-work {
    display: block;
    position: absolute;
    left: 83px;
    bottom: 23px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    text-transform: uppercase;
    color: var(--light-color-text)
}

/* section teams */
.team-our {
    background-color: var(--medium-background-color);
}
.teams {
    display: flex;
}
.card-item:not(:last-child){
    margin-right: 30px;
}
.card-item {
    background-color: var(--light-background-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px; 
}
.card-user {
    padding-top: 30px;
    padding-bottom: 30px;
}
.subtitle-team{
    margin-bottom: 10px;

    color: var(--medium-dark-color-text);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
}
.text-team {
    margin-bottom: 16px;
    color: var(--medium-light-color-text);

    font-size: 16px;
    line-height: 1.188;
    text-align: center;
}
.icons-user {
    display: flex;
    justify-content: center;
}
.item-icon-user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--light-background-color);
    color: var(--darklight-background-color);

    transition: background-color 250ms var(--timing-function),
        color 250ms var(--timing-function);
}
.icons-user li:not(:last-child) {
    margin-right: 10px;
}
.icon-more {
    width: 20px;
    height: 20px;
    fill: currentColor;
}
.item-icon-user:hover,
.item-icon-user:focus {
    background-color: var(--accent-background-color);
    color: var(--light-background-color);
}

/* section regular clients */
.clients {
    display: flex;
}
.clients li:not(:last-child) {
    margin-right: 30px;
}
.client {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid currentColor;
    color: var(--darklight-background-color);

    transition: color 250ms var(--timing-function);
}
.client-icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}
.client:hover,
.client:focus {
    color: var(--accent-background-color);
}
/* end main index */

/* main portfolio */
/* section portfolio */

/* button portfolio */
.filter {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}
.filter .item:not(:last-child) {
    margin-right: 8px;
}
.control {
    border-radius: 4px;
    padding: 6px 22px;
    border: none;
    min-width: 73px;

    background-color: var(--medium-background-color);
    color: var(--medium-dark-color-text);
    cursor: pointer;

    transition: background-color 250ms var(--timing-function),
        color 250ms var(--timing-function),
        box-shadow 250ms var(--timing-function);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
}
.control:hover, .control:focus, 
.control:active {
    background-color: var(--accent-background-color);
    color: var(--light-color-text);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);  
}
/* cards portfolio*/
.cards-portfolio {
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

    background-color: var(--light-background-color);
}
.card:nth-child(3n) {
    margin-right: 0;
}
.card:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.card-link {
    display: block;
}
.card-link:hover,
.card-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-picture {
    position: relative;
    overflow: hidden;
}
.card-link:hover .card-overlay,
.card-link:focus .card-overlay {
    transform: translateY(0);
}
.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-card-bg-color);

    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);

}
.card-desc {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 63px 24px;
    width: 100%;
    height: 100%;

    font-size: 18px;
    line-height: 1.556;
    color: var(--light-color-text);
}
.card-search {
    padding: 20px 24px;
    border: 1px solid var(--lightmid-background-color);
}
.subtitle-card {
    margin-bottom: 4px;

    color: var(--medium-dark-color-text);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.text-card {
    color: var(--medium-light-color-text);

    font-size: 16px;
    line-height: 1.875;
}
/* end main portfolio */
/* end main site web studio */

/* footer site */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--dark-background-color);
}
.footer-nav {
    display: flex;
    align-items: baseline;
}
.footer-address {
    margin-right: 70px;
}
.logo-footer {
    display: inline-block;
    margin-bottom: 20px;

    color: var(--accent-color-text);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
}
.footer .logo-text {
    color: var(--light-color-text);
}

/* address footer */
.address {
    font-style: normal;
}
.connection .item:not(:last-child) {
    margin-bottom: 9px;
}
.connection .link-first {
    color: var(--light-color-text);

    font-size: 14px;
    line-height: 1.7;  
}
.connection .link {
    color: var(--lightdark-color-text);

    font-size: 14px;
    line-height: 1.7;
}

/* social footer */
.title-social {
    margin-bottom: 20px;

    color: var(--light-color-text);

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}
.icons-social {
    display: flex;
}
.item-icon-social {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms var(--timing-function);
}
.icons-social li:not(:last-child) {
    margin-right: 10px;
}
.item-icon-social:hover,
.item-icon-social:focus {
    background-color: var(--accent-background-color);
}
.icon {
    width: 20px;
    height: 20px;
    fill: var(--light-color-text);
}
/* end footer site */

/* modal window site */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;

    transition: opacity 250ms var(--timing-function);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}
.modal {
    display: flex;
    justify-content: flex-end;

    position: absolute;
    top: 50%;
    left: 50%;

    width: 528px;
    height: 581px;
    border-radius: 4px;
    padding: 8px;

    background-color: var(--light-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    transform: translate(-50%, -50%) scale(1);

    transition: transform 250ms var(--timing-function);
}

.close-modal {
    display: flex;
    align-items: center;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;

    background-color: var(--light-background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-close-modal {
    width: 18px;
    height: 18px;
}
/* end modal window site */
